<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<nav>
    <!-- product search bar -->
    <form action="http://localhost:5000" method="post">
        <label for="title">Search by SKU</label>
        <input type="text" name="sku" placeholder="Enter SKU number">
        <input type="submit" value="Submit">
    </form>
    <form action="http://localhost:5000/new_product_page">
        <input type="submit" value="Add New Product" />
    </form>
    <form action="http://localhost:5000/new_event_page">
        <input type="submit" value="Add New Event" />
    </form>



</nav>

{%block head%}
{%endblock%}

{%block body%}
{%endblock%}

{% block content %}
{%endblock%}