{% extends 'base.html' %}
<html>
{% block content %}
<!-- header styling for product table -->

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <!-- product table -->
    <table style="width:100%">
        <tr>
            <th>Event Name</th>
            <th>Event Description</th>
            <th>Event Start date</th>
            <th>Event End Date</th>
            <th>Event Notes</th>
            <th>Show SKU Number</th>
            <th>QTY Brought</th>
            <th>QTY Sold</th>

        </tr>

        <tr>
            <!-- Table cells will be editable to update event table -->
            <td>
                <div contenteditable>{{ event.event_name }}</div>
            </td>
            <td>
                <div contenteditable>{{event.event_description}}</div>
            </td>
            <td>
                <div contenteditable>{{event.event_start_date}}</div>
            </td>
            <td>
                <div contenteditable>{{event.event_end_date}}</div>
            </td>
            <td>
                <div contenteditable>{{event.event_notes}}</div>
            </td>
            <td>
                <div contenteditable>{{event.event_event_inventory[0]["sku_num"]}}</div>
            </td>
            <td>
                <div contenteditable>{{event.event_event_inventory[0]["qty_brought"]}}</div>
            </td>
            <td>
                <div contenteditable>{{event.event_event_inventory[0]["qty_sold"]}}</div>
            </td>
        </tr>
    </table>

    <!-- product table -->
    <table style="width:100%">
        <tr>
            <th>Show SKU Number</th>
            <th>QTY Brought</th>
            <th>QTY Sold</th>

        </tr>



        {%for e in events_inventory%}
        <!-- Table cells are links will add filter by links over time -->
        <tr>
            <td><a>{{e.sku_num}}</a></td>
            <td><a>{{e.qty_brought}}</a></td>
            <td><a>{{e.qty_sold}}</a></td>
            {%endfor%}

            {% endblock content %}


</body>


</html>