{% extends 'base.html' %}
<html>
{% block content %}
<!-- form for adding new products to db -->
<form action="#" method="post">
    <p><label for="title">Enter information to add a new Event</label></p>
    <p><input type="text" name="Event Name" placeholder="Enter Event Name" required></p>
    <p><input type="text" name="Event Description" placeholder="Enter Event Description" required></p>
    <p><input type="date" name="Event Start Date" placeholder="Enter Date Event Begins" required></p>
    <p><input type="date" name="Event End Date" placeholder="Enter Date Event Ends" required></p>
    <!-- <p><input type="text" name="Products Brought" placeholder="Enter Products Brought to Show"></p>
    <p><input type="text" name="Products Sold" placeholder="Enter Products Sold Durring the Show"></p> -->
    <p><input type="text" name="Event Notes" placeholder="Enter Notes about the Show"></p>
    <p><input type="submit" value="Submit" required></p>
</form>
{% endblock %}