{% extends 'base.html' %}
<html>
{% block content %}

<body>
<div class="d-flex justify-content-between align-items-center">
    <h2 class="pb-2">{{product.prod_name}}</h2>
    <b>SKU: {{product.sku}}</b>
</div>

<div class="d-flex justify-content-between align-items-center">
    <div class="row">
        <p class="fs-4">{{product.prood_description}}</p>

        <div>
            <b>Notes:</b>
            <p class="fs-5">{{product.prood_notes}}</p>
        </div>
    </div>
    <div>
        <b>Cost to Make:</b>
        <p class="fs-5">${{product.cost_to_make}}</p>
    </div>
    <div>
        <b>Selling Price:</b>
        <p class="fs-5">${{product.price}}</p>
    </div>
    <div>
        <b>Quantity:</b>
        <p class="fs-5">{{product.qty}}</p>
    </div>
</div>

<div class="d-flex justify-content-end">
    <a class="btn btn-primary" href="/prod_update{{product.sku}}" role="button">Edit</a>
</div>

</body>
{% endblock content %}

</html>