{% extends 'base.html' %}
<html>
{% block content %}
<head>
    <style>
    table,
    th,
    td {
        border: 1px solid black;
    }
    </style>
</head>

<body>
    <!-- product table -->
    <table style="width:100%">
        <tr>
            <th>SKU</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Cost to Make</th>
            <th>Selling Price</th>
            <th>Product Category</th>
            <th>Quantity</th>
            <th>Notes</th>
        </tr>
        
        {%for product in products%}
        <!-- Table cells are links will add filter by links over time -->
        <tr>
            <td><a href="http://localhost:5000/prod_details{{ product.sku }}">{{ product.sku }}</a></td>
            <td><a href="http://localhost:5000/prod_details{{ product.sku }}">{{product.prod_name}}</a></td>
            <td><a href="http://localhost:5000/prod_details{{ product.sku }}">{{product.prood_description}}</a></td>
            <td><a href="http://localhost:5000/prod_details{{ product.sku }}">{{product.cost_to_make}}</a></td>
            <td><a href="http://localhost:5000/prod_filter_by_price{{ product.price }}">{{product.price}}</a></td>
            <td><a href="http://localhost:5000/prod_details{{ product.sku }}">{{product.category}}</a></td>
            <td><a href="http://localhost:5000/prod_details{{ product.sku }}">{{product.qty}}</a></td>
            <td><a href="http://localhost:5000/prod_details{{ product.sku }}">{{product.prood_notes}}</a></td>
            {%endfor%}
        </tr>
    </table>
</body>
{% endblock content %}
</html>