{% extends 'base.html' %}
<html>
{% block content %}
<!-- header styling for product table -->
<head>
    <style>
    table,
    th,
    td {
        border: 1px solid black;
    }
    </style>
</head>

<body>
    <!-- product table -->
    <table style="width:100%">
        <tr>
            <th>SKU</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Cost to Make</th>
            <th>Selling Price</th>
            <th>Product Category</th>
            <th>Quantity</th>
            <th>Notes</th>
        </tr>
        
        <tr>
            <!-- Table cells will be editable to update product DB -->
            <td><div contenteditable>{{ product.sku }}</div></td>
            <td><div contenteditable>{{product.prod_name}}</div></td>
            <td><div contenteditable>{{product.prood_description}}</div></td>
            <td><div contenteditable>{{product.cost_to_make}}</div></td>
            <td><div contenteditable>{{product.price}}</div></td>
            <td><div contenteditable>{{product.category}}</div></td>
            <td><div contenteditable>{{product.prood_notes}}</div></td>
        </tr>
    </table>
</body>
{% endblock content %}
</html>